body {
}

h1 {
  color: blue;
}

p {
  font-family: cursive;
  font-size: 2em;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
